In [1]:
import pandas as pd
import numpy as np

from env import get_db_url

In [2]:
def get_zillow_data():
    sql_query = '''
    SELECT * FROM properties_2017
    JOIN predictions_2017 USING (parcelid)
    WHERE transactiondate < '2018'
    AND propertylandusetypeid = 261;
    '''
    
    df = pd.read_sql(sql_query, get_db_url('zillow'))
    df = df.drop(columns='id')
    
    return df

In [3]:
df = get_zillow_data()
df

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,14297519,NaN,NaN,NaN,3.5,4.0,None,NaN,3.5,NaN,...,485713.0,1023282.0,2016.0,537569.0,11013.72,None,NaN,6.059063e+13,0.025595,2017-01-01
1,17052889,NaN,NaN,NaN,1.0,2.0,None,NaN,1.0,NaN,...,88000.0,464000.0,2016.0,376000.0,5672.48,None,NaN,6.111001e+13,0.055619,2017-01-01
2,14186244,NaN,NaN,NaN,2.0,3.0,None,NaN,2.0,NaN,...,85289.0,564778.0,2016.0,479489.0,6488.30,None,NaN,6.059022e+13,0.005383,2017-01-01
3,12177905,NaN,NaN,NaN,3.0,4.0,None,8.0,3.0,NaN,...,108918.0,145143.0,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,-0.103410,2017-01-01
4,12095076,1.0,NaN,NaN,3.0,4.0,None,9.0,3.0,NaN,...,276684.0,773303.0,2016.0,496619.0,9516.26,None,NaN,6.037461e+13,-0.001011,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,12412492,NaN,NaN,NaN,2.0,4.0,None,6.0,2.0,NaN,...,125466.0,346534.0,2016.0,221068.0,4175.08,None,NaN,6.037555e+13,0.001082,2017-09-19
52437,11000655,NaN,NaN,NaN,2.0,2.0,None,6.0,2.0,NaN,...,70917.0,354621.0,2016.0,283704.0,4478.43,None,NaN,6.037101e+13,0.020615,2017-09-20
52438,17239384,NaN,NaN,NaN,2.0,4.0,None,NaN,2.0,NaN,...,50683.0,67205.0,2016.0,16522.0,1107.48,None,NaN,6.111008e+13,0.013209,2017-09-21
52439,12773139,1.0,NaN,NaN,1.0,3.0,None,4.0,1.0,NaN,...,32797.0,49546.0,2016.0,16749.0,876.43,None,NaN,6.037434e+13,0.037129,2017-09-21
52440,12826780,NaN,NaN,NaN,2.0,3.0,None,6.0,2.0,NaN,...,140000.0,522000.0,2016.0,382000.0,6317.15,None,NaN,6.037503e+13,0.007204,2017-09-25

In [4]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,14297519,NaN,NaN,NaN,3.5,4.0,None,NaN,3.5,NaN,...,485713.0,1023282.0,2016.0,537569.0,11013.72,None,NaN,6.059063e+13,0.025595,2017-01-01
1,17052889,NaN,NaN,NaN,1.0,2.0,None,NaN,1.0,NaN,...,88000.0,464000.0,2016.0,376000.0,5672.48,None,NaN,6.111001e+13,0.055619,2017-01-01
2,14186244,NaN,NaN,NaN,2.0,3.0,None,NaN,2.0,NaN,...,85289.0,564778.0,2016.0,479489.0,6488.30,None,NaN,6.059022e+13,0.005383,2017-01-01
3,12177905,NaN,NaN,NaN,3.0,4.0,None,8.0,3.0,NaN,...,108918.0,145143.0,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,-0.103410,2017-01-01
4,12095076,1.0,NaN,NaN,3.0,4.0,None,9.0,3.0,NaN,...,276684.0,773303.0,2016.0,496619.0,9516.26,None,NaN,6.037461e+13,-0.001011,2017-01-01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   airconditioningtypeid         13638 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   52441 non-null  float64
 5   bedroomcnt                    52441 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         33740 non-null  float64
 8   calculatedbathnbr             52304 non-null  float64
 9   decktypeid                    389 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  52359 non-null  float64
 12  finishedsquarefeet12          52194 non-null  float64
 13  finishedsquarefeet13          0 non-null      object
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          52441 non-null  float64
 18  fireplacecnt                  7243 non-null   float64
 19  fullbathcnt                   52304 non-null  float64
 20  garagecarcnt                  18015 non-null  float64
 21  garagetotalsqft               18015 non-null  float64
 22  hashottuborspa                1515 non-null   float64
 23  heatingorsystemtypeid         33935 non-null  float64
 24  latitude                      52441 non-null  float64
 25  longitude                     52441 non-null  float64
 26  lotsizesquarefeet             52072 non-null  float64
 27  poolcnt                       11096 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  444 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10009 non-null  float64
 32  propertycountylandusecode     52441 non-null  object
 33  propertylandusetypeid         52441 non-null  float64
 34  propertyzoningdesc            33848 non-null  object
 35  rawcensustractandblock        52441 non-null  float64
 36  regionidcity                  51404 non-null  float64
 37  regionidcounty                52441 non-null  float64
 38  regionidneighborhood          19033 non-null  float64
 39  regionidzip                   52415 non-null  float64
 40  roomcnt                       52441 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6724 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33847 non-null  float64
 45  yardbuildingsqft17            1937 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52325 non-null  float64
 48  numberofstories               14561 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52357 non-null  float64
 51  taxvaluedollarcnt             52440 non-null  float64
 52  assessmentyear                52441 non-null  float64
 53  landtaxvaluedollarcnt         52440 non-null  float64
 54  taxamount                     52437 non-null  float64
 55  taxdelinquencyflag            2079 non-null   object
 56  taxdelinquencyyear            2079 non-null   float64
 57  censustractandblock           52318 non-null  float64
 58  logerror                      52441 non-null  float64
 59  transactiondate               52441 non-null  object
dtypes: float64(52), int64(1), object(7)
memory usage: 24.0+ MB

In [9]:
df.describe(include='all')

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
count,5.244100e+04,13638.000000,70.00000,47.000000,52441.000000,52441.000000,0,33740.000000,52304.000000,389.0,...,5.235700e+04,5.244000e+04,52441.0,5.244000e+04,52437.000000,2079,2079.000000,5.231800e+04,52441.000000,52441
unique,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,257
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2017-06-30
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2079,NaN,NaN,NaN,810
mean,1.299912e+07,2.438041,7.10000,678.978723,2.299403,3.300681,NaN,6.264167,2.304738,66.0,...,1.965338e+05,5.296882e+05,2016.0,3.334655e+05,6453.511209,NaN,14.102453,6.050240e+13,0.018298,NaN
std,3.411444e+06,3.846176,2.66567,711.825226,1.022772,0.949094,NaN,1.716162,1.017966,0.0,...,2.543401e+05,7.518946e+05,0.0,5.705278e+05,8755.568452,NaN,2.394972,1.859036e+12,0.177501,NaN
min,1.071186e+07,1.000000,2.00000,38.000000,0.000000,0.000000,NaN,1.000000,1.000000,66.0,...,1.290000e+02,1.000000e+03,2016.0,1.610000e+02,49.180000,NaN,4.000000,6.037101e+13,-4.655420,NaN
25%,1.151022e+07,1.000000,7.00000,263.500000,2.000000,3.000000,NaN,5.000000,2.000000,66.0,...,7.707100e+04,1.937475e+05,2016.0,7.602075e+04,2656.220000,NaN,14.000000,6.037401e+13,-0.024639,NaN
50%,1.257764e+07,1.000000,7.00000,512.000000,2.000000,3.000000,NaN,6.000000,2.000000,66.0,...,1.318110e+05,3.736120e+05,2016.0,2.180320e+05,4647.740000,NaN,15.000000,6.037620e+13,0.007011,NaN
75%,1.412953e+07,1.000000,7.00000,809.500000,3.000000,4.000000,NaN,8.000000,3.000000,66.0,...,2.263340e+05,6.193012e+05,2016.0,4.086068e+05,7377.500000,NaN,15.000000,6.059042e+13,0.040692,NaN
max,1.676878e+08,13.000000,21.00000,3560.000000,18.000000,14.000000,NaN,12.000000,18.000000,66.0,...,9.164901e+06,4.906124e+07,2016.0,4.895220e+07,586639.300000,NaN,99.000000,4.830301e+14,5.262999,NaN

In [10]:
print(f'rows: {df.shape[0]}')
print(f'co1umns: {df.shape[1]}')

rows: 52441
co1umns: 60

In [13]:
df.columns

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'transactiondate'],
      dtype='object')

In [12]:
for column in df.columns:
    print(column)
    print(df[column].value_counts())
    print('\n ------------------------- \n')

parcelid
11991059    3
11957553    2
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64

 -------------------------

airconditioningtypeid
1.0     11895
13.0     1568
5.0       159
11.0       16
Name: airconditioningtypeid, dtype: int64

 -------------------------

architecturalstyletypeid
7.0     62
3.0      3
2.0      2
21.0     2
8.0      1
Name: architecturalstyletypeid, dtype: int64

 -------------------------

basementsqft
900.0     2
640.0     2
100.0     2
515.0     2
273.0     2
912.0     2
314.0     1
819.0     1
1809.0    1
604.0     1
126.0     1
588.0     1
786.0     1
669.0     1
800.0     1
396.0     1
112.0     1
645.0     1
384.0     1
1969.0    1
252.0     1
600.0     1
1218.0    1
280.0     1
300.0     1
224.0     1
512.0     1
380.0     1
204.0     1
200.0     1
90.0      1
3112.0    1
405.0     1
1252.0    1
254.0     1
3560.0    1
352.0     1
168.0     1
394.0     1
1416.0    1
38.0      1
Name: basementsqft, dtype: int64

 -------------------------

bathroomcnt
2.0     21893
3.0     10673
1.0      9568
2.5      3934
4.0      2227
3.5       918
1.5       841
5.0       803
4.5       687
6.0       322
5.5       224
0.0       121
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64

 -------------------------

bedroomcnt
3.0     23359
4.0     15240
2.0      8340
5.0      3973
6.0       635
1.0       612
0.0       137
7.0       106
8.0        24
9.0         8
12.0        3
10.0        2
14.0        1
11.0        1
Name: bedroomcnt, dtype: int64

 -------------------------

buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)

 -------------------------

buildingqualitytypeid
6.0     10289
8.0      8244
4.0      8156
7.0      3427
5.0      1513
9.0      1121
11.0      514
10.0      230
3.0       152
12.0       81
1.0         8
2.0         5
Name: buildingqualitytypeid, dtype: int64

 -------------------------

calculatedbathnbr
2.0     21893
3.0     10673
1.0      9568
2.5      3926
4.0      2227
3.5       918
1.5       834
5.0       803
4.5       687
6.0       322
5.5       223
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64

 -------------------------

decktypeid
66.0    389
Name: decktypeid, dtype: int64

 -------------------------

finishedfloor1squarefeet
1252.0    22
1205.0    21
1462.0    21
1227.0    19
1431.0    17
          ..
1708.0     1
922.0      1
2062.0     1
4300.0     1
2652.0     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64

 -------------------------

calculatedfinishedsquarefeet
1120.0    128
1200.0    119
1080.0    102
1040.0     86
936.0      86
         ...
7088.0      1
604.0       1
5422.0      1
534.0       1
5655.0      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64

 -------------------------

finishedsquarefeet12
1120.0    127
1200.0    118
1080.0    102
936.0      86
1040.0     85
         ...
9843.0      1
7088.0      1
604.0       1
5422.0      1
5655.0      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64

 -------------------------

finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)

 -------------------------

finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)

 -------------------------

finishedsquarefeet50
1252.0    22
1462.0    21
1205.0    21
1227.0    19
1431.0    17
          ..
1533.0     1
1708.0     1
922.0      1
2062.0     1
2652.0     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64

 -------------------------

finishedsquarefeet6
952.0     4
520.0     3
750.0     2
765.0     2
845.0     2
         ..
1178.0    1
670.0     1
748.0     1
1200.0    1
905.0     1
Name: finishedsquarefeet6, Length: 155, dtype: int64

 -------------------------

fips
6037.0    33910
6059.0    14136
6111.0     4395
Name: fips, dtype: int64

 -------------------------

fireplacecnt
1.0    6031
2.0     945
3.0     229
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64

 -------------------------

fullbathcnt
2.0     25831
3.0     11600
1.0     10402
4.0      2915
5.0      1022
6.0       359
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64

 -------------------------

garagecarcnt
2.0     14802
1.0      2202
3.0       621
4.0       254
0.0        65
5.0        45
6.0        13
7.0         3
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64

 -------------------------

garagetotalsqft
400.0     788
441.0     678
462.0     660
360.0     648
460.0     571
         ...
275.0       1
1056.0      1
261.0       1
1155.0      1
957.0       1
Name: garagetotalsqft, Length: 839, dtype: int64

 -------------------------

hashottuborspa
1.0    1515
Name: hashottuborspa, dtype: int64

 -------------------------

heatingorsystemtypeid
2.0     20736
7.0     12565
6.0       517
20.0       85
13.0       16
1.0         7
18.0        6
10.0        2
24.0        1
Name: heatingorsystemtypeid, dtype: int64

 -------------------------

latitude
34047500.0    12
34487900.0     7
34101300.0     7
33494800.0     7
34137792.0     6
              ..
34023323.0     1
34034633.0     1
33840741.0     1
33511474.0     1
33937685.0     1
Name: latitude, Length: 50478, dtype: int64

 -------------------------

longitude
-118249000.0    12
-117835000.0     8
-117670000.0     7
-118172000.0     7
-117830000.0     7
                ..
-118107541.0     1
-118410753.0     1
-118116393.0     1
-118170213.0     1
-117996709.0     1
Name: longitude, Length: 50764, dtype: int64

 -------------------------

lotsizesquarefeet
6000.0      876
5000.0      414
7200.0      307
7000.0      287
6500.0      272
           ...
11061.0       1
15757.0       1
100066.0      1
3701.0        1
47405.0       1
Name: lotsizesquarefeet, Length: 14292, dtype: int64

 -------------------------

poolcnt
1.0    11096
Name: poolcnt, dtype: int64

 -------------------------

poolsizesum
450.0     89
400.0     38
500.0     30
600.0     27
512.0     25
          ..
275.0      1
434.0      1
1070.0     1
368.0      1
780.0      1
Name: poolsizesum, Length: 262, dtype: int64

 -------------------------

pooltypeid10
1.0    444
Name: pooltypeid10, dtype: int64

 -------------------------

pooltypeid2
1.0    1071
Name: pooltypeid2, dtype: int64

 -------------------------

pooltypeid7
1.0    10009
Name: pooltypeid7, dtype: int64

 -------------------------

propertycountylandusecode
0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

 -------------------------

propertylandusetypeid
261.0    52441
Name: propertylandusetypeid, dtype: int64

 -------------------------

propertyzoningdesc
LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

 -------------------------

rawcensustractandblock
6.037920e+07    36
6.037920e+07    32
6.037142e+07    24
6.059032e+07    24
6.059032e+07    23
                ..
6.037578e+07     1
6.037578e+07     1
6.037535e+07     1
6.037241e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 31441, dtype: int64

 -------------------------

regionidcity
12447.0    11452
5534.0      1795
40227.0     1492
46298.0     1428
16764.0     1087
           ...
32927.0        3
31134.0        2
36078.0        1
10815.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64

 -------------------------

regionidcounty
3101.0    33910
1286.0    14136
2061.0     4395
Name: regionidcounty, dtype: int64

 -------------------------

regionidneighborhood
48570.0     503
118208.0    476
27080.0     448
274049.0    391
51906.0     374
           ...
763079.0      1
764138.0      1
763090.0      1
764167.0      1
762940.0      1
Name: regionidneighborhood, Length: 437, dtype: int64

 -------------------------

regionidzip
97319.0    776
97318.0    674
97329.0    564
97328.0    519
97118.0    498
          ...
96467.0      1
97092.0      1
96148.0      1
96038.0      1
97088.0      1
Name: regionidzip, Length: 381, dtype: int64

 -------------------------

roomcnt
0.0     37853
6.0      3982
7.0      3615
8.0      2813
5.0      1890
9.0      1176
4.0       521
10.0      339
11.0      108
3.0        79
12.0       35
2.0        12
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64

 -------------------------

storytypeid
7.0    47
Name: storytypeid, dtype: int64

 -------------------------

threequarterbathnbr
1.0    6645
2.0      70
3.0       8
7.0       1
Name: threequarterbathnbr, dtype: int64

 -------------------------

typeconstructiontypeid
6.0    75
4.0     1
Name: typeconstructiontypeid, dtype: int64

 -------------------------

unitcnt
1.0    33817
2.0       29
3.0        1
Name: unitcnt, dtype: int64

 -------------------------

yardbuildingsqft17
200.0     85
240.0     71
300.0     49
400.0     37
288.0     34
          ..
319.0      1
1113.0     1
415.0      1
913.0      1
201.0      1
Name: yardbuildingsqft17, Length: 504, dtype: int64

 -------------------------

yardbuildingsqft26
120.0    3
56.0     2
300.0    2
240.0    2
448.0    2
196.0    1
140.0    1
48.0     1
284.0    1
39.0     1
133.0    1
486.0    1
250.0    1
91.0     1
491.0    1
16.0     1
204.0    1
71.0     1
28.0     1
195.0    1
292.0    1
231.0    1
30.0     1
320.0    1
384.0    1
180.0    1
49.0     1
868.0    1
462.0    1
461.0    1
368.0    1
105.0    1
37.0     1
88.0     1
160.0    1
45.0     1
752.0    1
169.0    1
21.0     1
200.0    1
113.0    1
41.0     1
314.0    1
12.0     1
414.0    1
66.0     1
648.0    1
174.0    1
218.0    1
60.0     1
336.0    1
108.0    1
144.0    1
216.0    1
360.0    1
72.0     1
576.0    1
Name: yardbuildingsqft26, dtype: int64

 -------------------------

yearbuilt
1955.0    1899
1950.0    1608
1954.0    1520
1953.0    1485
1956.0    1387
          ...
1892.0       1
1878.0       1
1882.0       1
1894.0       1
1880.0       1
Name: yearbuilt, Length: 133, dtype: int64

 -------------------------

numberofstories
1.0    8890
2.0    5318
3.0     352
6.0       1
Name: numberofstories, dtype: int64

 -------------------------

fireplaceflag
1.0    81
Name: fireplaceflag, dtype: int64

 -------------------------

structuretaxvaluedollarcnt
100000.0    50
200000.0    36
90000.0     32
32489.0     28
95000.0     27
            ..
384779.0     1
99143.0      1
69732.0      1
81625.0      1
32797.0      1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64

 -------------------------

taxvaluedollarcnt
455000.0    34
600000.0    30
500000.0    24
450000.0    24
550000.0    24
            ..
209341.0     1
203304.0     1
497409.0     1
421945.0     1
49546.0      1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64

 -------------------------

assessmentyear
2016.0    52441
Name: assessmentyear, dtype: int64

 -------------------------

landtaxvaluedollarcnt
21299.0     95
30210.0     63
22755.0     63
16522.0     54
16749.0     51
            ..
189725.0     1
304486.0     1
325476.0     1
280040.0     1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64

 -------------------------

taxamount
345.72     4
5871.38    3
2172.75    3
3347.58    3
855.16     3
          ..
3114.95    1
4050.56    1
4996.36    1
683.35     1
6317.15    1
Name: taxamount, Length: 50834, dtype: int64

 -------------------------

taxdelinquencyflag
Y    2079
Name: taxdelinquencyflag, dtype: int64

 -------------------------

taxdelinquencyyear
15.0    1131
14.0     560
13.0     129
12.0      81
11.0      79
10.0      47
9.0       33
8.0        8
7.0        8
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64

 -------------------------

censustractandblock
6.037920e+13    32
6.037920e+13    27
6.059032e+13    24
6.037142e+13    24
6.059032e+13    23
                ..
6.037271e+13     1
6.037195e+13     1
6.037911e+13     1
6.059076e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 31404, dtype: int64

 -------------------------

logerror
 0.001878    5
 0.000727    5
 0.000231    5
 0.002652    5
 0.018974    4
            ..
 0.015791    1
 0.022542    1
-0.034800    1
 0.028759    1
 0.037129    1
Name: logerror, Length: 52180, dtype: int64

 -------------------------

transactiondate
2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

 -------------------------

In [17]:
for column in df.columns:
    print(f'{column}\n{df[column].value_counts()} \n\n ------------------------- \n')

parcelid
11991059    3
11957553    2
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64

 -------------------------

airconditioningtypeid
1.0     11895
13.0     1568
5.0       159
11.0       16
Name: airconditioningtypeid, dtype: int64

 -------------------------

architecturalstyletypeid
7.0     62
3.0      3
2.0      2
21.0     2
8.0      1
Name: architecturalstyletypeid, dtype: int64

 -------------------------

basementsqft
900.0     2
640.0     2
100.0     2
515.0     2
273.0     2
912.0     2
314.0     1
819.0     1
1809.0    1
604.0     1
126.0     1
588.0     1
786.0     1
669.0     1
800.0     1
396.0     1
112.0     1
645.0     1
384.0     1
1969.0    1
252.0     1
600.0     1
1218.0    1
280.0     1
300.0     1
224.0     1
512.0     1
380.0     1
204.0     1
200.0     1
90.0      1
3112.0    1
405.0     1
1252.0    1
254.0     1
3560.0    1
352.0     1
168.0     1
394.0     1
1416.0    1
38.0      1
Name: basementsqft, dtype: int64

 -------------------------

bathroomcnt
2.0     21893
3.0     10673
1.0      9568
2.5      3934
4.0      2227
3.5       918
1.5       841
5.0       803
4.5       687
6.0       322
5.5       224
0.0       121
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64

 -------------------------

bedroomcnt
3.0     23359
4.0     15240
2.0      8340
5.0      3973
6.0       635
1.0       612
0.0       137
7.0       106
8.0        24
9.0         8
12.0        3
10.0        2
14.0        1
11.0        1
Name: bedroomcnt, dtype: int64

 -------------------------

buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)

 -------------------------

buildingqualitytypeid
6.0     10289
8.0      8244
4.0      8156
7.0      3427
5.0      1513
9.0      1121
11.0      514
10.0      230
3.0       152
12.0       81
1.0         8
2.0         5
Name: buildingqualitytypeid, dtype: int64

 -------------------------

calculatedbathnbr
2.0     21893
3.0     10673
1.0      9568
2.5      3926
4.0      2227
3.5       918
1.5       834
5.0       803
4.5       687
6.0       322
5.5       223
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64

 -------------------------

decktypeid
66.0    389
Name: decktypeid, dtype: int64

 -------------------------

finishedfloor1squarefeet
1252.0    22
1205.0    21
1462.0    21
1227.0    19
1431.0    17
          ..
1708.0     1
922.0      1
2062.0     1
4300.0     1
2652.0     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64

 -------------------------

calculatedfinishedsquarefeet
1120.0    128
1200.0    119
1080.0    102
1040.0     86
936.0      86
         ...
7088.0      1
604.0       1
5422.0      1
534.0       1
5655.0      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64

 -------------------------

finishedsquarefeet12
1120.0    127
1200.0    118
1080.0    102
936.0      86
1040.0     85
         ...
9843.0      1
7088.0      1
604.0       1
5422.0      1
5655.0      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64

 -------------------------

finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)

 -------------------------

finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)

 -------------------------

finishedsquarefeet50
1252.0    22
1462.0    21
1205.0    21
1227.0    19
1431.0    17
          ..
1533.0     1
1708.0     1
922.0      1
2062.0     1
2652.0     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64

 -------------------------

finishedsquarefeet6
952.0     4
520.0     3
750.0     2
765.0     2
845.0     2
         ..
1178.0    1
670.0     1
748.0     1
1200.0    1
905.0     1
Name: finishedsquarefeet6, Length: 155, dtype: int64

 -------------------------

fips
6037.0    33910
6059.0    14136
6111.0     4395
Name: fips, dtype: int64

 -------------------------

fireplacecnt
1.0    6031
2.0     945
3.0     229
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64

 -------------------------

fullbathcnt
2.0     25831
3.0     11600
1.0     10402
4.0      2915
5.0      1022
6.0       359
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64

 -------------------------

garagecarcnt
2.0     14802
1.0      2202
3.0       621
4.0       254
0.0        65
5.0        45
6.0        13
7.0         3
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64

 -------------------------

garagetotalsqft
400.0     788
441.0     678
462.0     660
360.0     648
460.0     571
         ...
275.0       1
1056.0      1
261.0       1
1155.0      1
957.0       1
Name: garagetotalsqft, Length: 839, dtype: int64

 -------------------------

hashottuborspa
1.0    1515
Name: hashottuborspa, dtype: int64

 -------------------------

heatingorsystemtypeid
2.0     20736
7.0     12565
6.0       517
20.0       85
13.0       16
1.0         7
18.0        6
10.0        2
24.0        1
Name: heatingorsystemtypeid, dtype: int64

 -------------------------

latitude
34047500.0    12
34487900.0     7
34101300.0     7
33494800.0     7
34137792.0     6
              ..
34023323.0     1
34034633.0     1
33840741.0     1
33511474.0     1
33937685.0     1
Name: latitude, Length: 50478, dtype: int64

 -------------------------

longitude
-118249000.0    12
-117835000.0     8
-117670000.0     7
-118172000.0     7
-117830000.0     7
                ..
-118107541.0     1
-118410753.0     1
-118116393.0     1
-118170213.0     1
-117996709.0     1
Name: longitude, Length: 50764, dtype: int64

 -------------------------

lotsizesquarefeet
6000.0      876
5000.0      414
7200.0      307
7000.0      287
6500.0      272
           ...
11061.0       1
15757.0       1
100066.0      1
3701.0        1
47405.0       1
Name: lotsizesquarefeet, Length: 14292, dtype: int64

 -------------------------

poolcnt
1.0    11096
Name: poolcnt, dtype: int64

 -------------------------

poolsizesum
450.0     89
400.0     38
500.0     30
600.0     27
512.0     25
          ..
275.0      1
434.0      1
1070.0     1
368.0      1
780.0      1
Name: poolsizesum, Length: 262, dtype: int64

 -------------------------

pooltypeid10
1.0    444
Name: pooltypeid10, dtype: int64

 -------------------------

pooltypeid2
1.0    1071
Name: pooltypeid2, dtype: int64

 -------------------------

pooltypeid7
1.0    10009
Name: pooltypeid7, dtype: int64

 -------------------------

propertycountylandusecode
0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

 -------------------------

propertylandusetypeid
261.0    52441
Name: propertylandusetypeid, dtype: int64

 -------------------------

propertyzoningdesc
LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

 -------------------------

rawcensustractandblock
6.037920e+07    36
6.037920e+07    32
6.037142e+07    24
6.059032e+07    24
6.059032e+07    23
                ..
6.037578e+07     1
6.037578e+07     1
6.037535e+07     1
6.037241e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 31441, dtype: int64

 -------------------------

regionidcity
12447.0    11452
5534.0      1795
40227.0     1492
46298.0     1428
16764.0     1087
           ...
32927.0        3
31134.0        2
36078.0        1
10815.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64

 -------------------------

regionidcounty
3101.0    33910
1286.0    14136
2061.0     4395
Name: regionidcounty, dtype: int64

 -------------------------

regionidneighborhood
48570.0     503
118208.0    476
27080.0     448
274049.0    391
51906.0     374
           ...
763079.0      1
764138.0      1
763090.0      1
764167.0      1
762940.0      1
Name: regionidneighborhood, Length: 437, dtype: int64

 -------------------------

regionidzip
97319.0    776
97318.0    674
97329.0    564
97328.0    519
97118.0    498
          ...
96467.0      1
97092.0      1
96148.0      1
96038.0      1
97088.0      1
Name: regionidzip, Length: 381, dtype: int64

 -------------------------

roomcnt
0.0     37853
6.0      3982
7.0      3615
8.0      2813
5.0      1890
9.0      1176
4.0       521
10.0      339
11.0      108
3.0        79
12.0       35
2.0        12
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64

 -------------------------

storytypeid
7.0    47
Name: storytypeid, dtype: int64

 -------------------------

threequarterbathnbr
1.0    6645
2.0      70
3.0       8
7.0       1
Name: threequarterbathnbr, dtype: int64

 -------------------------

typeconstructiontypeid
6.0    75
4.0     1
Name: typeconstructiontypeid, dtype: int64

 -------------------------

unitcnt
1.0    33817
2.0       29
3.0        1
Name: unitcnt, dtype: int64

 -------------------------

yardbuildingsqft17
200.0     85
240.0     71
300.0     49
400.0     37
288.0     34
          ..
319.0      1
1113.0     1
415.0      1
913.0      1
201.0      1
Name: yardbuildingsqft17, Length: 504, dtype: int64

 -------------------------

yardbuildingsqft26
120.0    3
56.0     2
300.0    2
240.0    2
448.0    2
196.0    1
140.0    1
48.0     1
284.0    1
39.0     1
133.0    1
486.0    1
250.0    1
91.0     1
491.0    1
16.0     1
204.0    1
71.0     1
28.0     1
195.0    1
292.0    1
231.0    1
30.0     1
320.0    1
384.0    1
180.0    1
49.0     1
868.0    1
462.0    1
461.0    1
368.0    1
105.0    1
37.0     1
88.0     1
160.0    1
45.0     1
752.0    1
169.0    1
21.0     1
200.0    1
113.0    1
41.0     1
314.0    1
12.0     1
414.0    1
66.0     1
648.0    1
174.0    1
218.0    1
60.0     1
336.0    1
108.0    1
144.0    1
216.0    1
360.0    1
72.0     1
576.0    1
Name: yardbuildingsqft26, dtype: int64

 -------------------------

yearbuilt
1955.0    1899
1950.0    1608
1954.0    1520
1953.0    1485
1956.0    1387
          ...
1892.0       1
1878.0       1
1882.0       1
1894.0       1
1880.0       1
Name: yearbuilt, Length: 133, dtype: int64

 -------------------------

numberofstories
1.0    8890
2.0    5318
3.0     352
6.0       1
Name: numberofstories, dtype: int64

 -------------------------

fireplaceflag
1.0    81
Name: fireplaceflag, dtype: int64

 -------------------------

structuretaxvaluedollarcnt
100000.0    50
200000.0    36
90000.0     32
32489.0     28
95000.0     27
            ..
384779.0     1
99143.0      1
69732.0      1
81625.0      1
32797.0      1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64

 -------------------------

taxvaluedollarcnt
455000.0    34
600000.0    30
500000.0    24
450000.0    24
550000.0    24
            ..
209341.0     1
203304.0     1
497409.0     1
421945.0     1
49546.0      1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64

 -------------------------

assessmentyear
2016.0    52441
Name: assessmentyear, dtype: int64

 -------------------------

landtaxvaluedollarcnt
21299.0     95
30210.0     63
22755.0     63
16522.0     54
16749.0     51
            ..
189725.0     1
304486.0     1
325476.0     1
280040.0     1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64

 -------------------------

taxamount
345.72     4
5871.38    3
2172.75    3
3347.58    3
855.16     3
          ..
3114.95    1
4050.56    1
4996.36    1
683.35     1
6317.15    1
Name: taxamount, Length: 50834, dtype: int64

 -------------------------

taxdelinquencyflag
Y    2079
Name: taxdelinquencyflag, dtype: int64

 -------------------------

taxdelinquencyyear
15.0    1131
14.0     560
13.0     129
12.0      81
11.0      79
10.0      47
9.0       33
8.0        8
7.0        8
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64

 -------------------------

censustractandblock
6.037920e+13    32
6.037920e+13    27
6.059032e+13    24
6.037142e+13    24
6.059032e+13    23
                ..
6.037271e+13     1
6.037195e+13     1
6.037911e+13     1
6.059076e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 31404, dtype: int64

 -------------------------

logerror
 0.001878    5
 0.000727    5
 0.000231    5
 0.002652    5
 0.018974    4
            ..
 0.015791    1
 0.022542    1
-0.034800    1
 0.028759    1
 0.037129    1
Name: logerror, Length: 52180, dtype: int64

 -------------------------

transactiondate
2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

 -------------------------

## Nulls by Column

In [18]:
df.isnull()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
1,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
2,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
3,False,True,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False
4,False,False,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,False,True,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False
52437,False,True,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False
52438,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
52439,False,False,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False
52440,False,True,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False

In [19]:
df.isnull().sum()

parcelid                            0
airconditioningtypeid           38803
architecturalstyletypeid        52371
basementsqft                    52394
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52441
buildingqualitytypeid           18701
calculatedbathnbr                 137
decktypeid                      52052
finishedfloor1squarefeet        48060
calculatedfinishedsquarefeet       82
finishedsquarefeet12              247
finishedsquarefeet13            52441
finishedsquarefeet15            52441
finishedsquarefeet50            48060
finishedsquarefeet6             52276
fips                                0
fireplacecnt                    45198
fullbathcnt                       137
garagecarcnt                    34426
garagetotalsqft                 34426
hashottuborspa                  50926
heatingorsystemtypeid           18506
latitude                            0
longitude                           0
lotsizesquarefeet                 369
poolcnt                         41345
poolsizesum                     51574
pooltypeid10                    51997
pooltypeid2                     51370
pooltypeid7                     42432
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              18593
rawcensustractandblock              0
regionidcity                     1037
regionidcounty                      0
regionidneighborhood            33408
regionidzip                        26
roomcnt                             0
storytypeid                     52394
threequarterbathnbr             45717
typeconstructiontypeid          52365
unitcnt                         18594
yardbuildingsqft17              50504
yardbuildingsqft26              52378
yearbuilt                         116
numberofstories                 37880
fireplaceflag                   52360
structuretaxvaluedollarcnt         84
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50362
taxdelinquencyyear              50362
censustractandblock               123
logerror                            0
transactiondate                     0
dtype: int64

In [20]:
df.shape[0]

52441

In [24]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

finishedsquarefeet15            100.000000
buildingclasstypeid             100.000000
finishedsquarefeet13            100.000000
storytypeid                      99.910375
basementsqft                     99.910375
yardbuildingsqft26               99.879865
architecturalstyletypeid         99.866517
typeconstructiontypeid           99.855075
fireplaceflag                    99.845541
finishedsquarefeet6              99.685361
decktypeid                       99.258214
pooltypeid10                     99.153334
poolsizesum                      98.346713
pooltypeid2                      97.957705
hashottuborspa                   97.111039
yardbuildingsqft17               96.306325
taxdelinquencyyear               96.035545
taxdelinquencyflag               96.035545
finishedfloor1squarefeet         91.645850
finishedsquarefeet50             91.645850
threequarterbathnbr              87.177971
fireplacecnt                     86.188288
pooltypeid7                      80.913789
poolcnt                          78.840983
airconditioningtypeid            73.993631
numberofstories                  72.233558
garagecarcnt                     65.647108
garagetotalsqft                  65.647108
regionidneighborhood             63.705879
buildingqualitytypeid            35.661029
unitcnt                          35.456990
propertyzoningdesc               35.455083
heatingorsystemtypeid            35.289182
regionidcity                      1.977460
lotsizesquarefeet                 0.703648
finishedsquarefeet12              0.471006
fullbathcnt                       0.261246
calculatedbathnbr                 0.261246
censustractandblock               0.234549
yearbuilt                         0.221201
structuretaxvaluedollarcnt        0.160180
calculatedfinishedsquarefeet      0.156366
regionidzip                       0.049580
taxamount                         0.007628
taxvaluedollarcnt                 0.001907
landtaxvaluedollarcnt             0.001907
logerror                          0.000000
assessmentyear                    0.000000
parcelid                          0.000000
roomcnt                           0.000000
regionidcounty                    0.000000
rawcensustractandblock            0.000000
propertylandusetypeid             0.000000
propertycountylandusecode         0.000000
longitude                         0.000000
latitude                          0.000000
fips                              0.000000
bedroomcnt                        0.000000
bathroomcnt                       0.000000
transactiondate                   0.000000
dtype: float64

In [29]:
null_col_df = pd.DataFrame({'num_rows_missing': df.isnull().sum(),
            'percent_rows_missing': df.isnull().sum()/df.shape[0]*100})
null_col_df

                              num_rows_missing  percent_rows_missing
parcelid                                     0              0.000000
airconditioningtypeid                    38803             73.993631
architecturalstyletypeid                 52371             99.866517
basementsqft                             52394             99.910375
bathroomcnt                                  0              0.000000
bedroomcnt                                   0              0.000000
buildingclasstypeid                      52441            100.000000
buildingqualitytypeid                    18701             35.661029
calculatedbathnbr                          137              0.261246
decktypeid                               52052             99.258214
finishedfloor1squarefeet                 48060             91.645850
calculatedfinishedsquarefeet                82              0.156366
finishedsquarefeet12                       247              0.471006
finishedsquarefeet13                     52441            100.000000
finishedsquarefeet15                     52441            100.000000
finishedsquarefeet50                     48060             91.645850
finishedsquarefeet6                      52276             99.685361
fips                                         0              0.000000
fireplacecnt                             45198             86.188288
fullbathcnt                                137              0.261246
garagecarcnt                             34426             65.647108
garagetotalsqft                          34426             65.647108
hashottuborspa                           50926             97.111039
heatingorsystemtypeid                    18506             35.289182
latitude                                     0              0.000000
longitude                                    0              0.000000
lotsizesquarefeet                          369              0.703648
poolcnt                                  41345             78.840983
poolsizesum                              51574             98.346713
pooltypeid10                             51997             99.153334
pooltypeid2                              51370             97.957705
pooltypeid7                              42432             80.913789
propertycountylandusecode                    0              0.000000
propertylandusetypeid                        0              0.000000
propertyzoningdesc                       18593             35.455083
rawcensustractandblock                       0              0.000000
regionidcity                              1037              1.977460
regionidcounty                               0              0.000000
regionidneighborhood                     33408             63.705879
regionidzip                                 26              0.049580
roomcnt                                      0              0.000000
storytypeid                              52394             99.910375
threequarterbathnbr                      45717             87.177971
typeconstructiontypeid                   52365             99.855075
unitcnt                                  18594             35.456990
yardbuildingsqft17                       50504             96.306325
yardbuildingsqft26                       52378             99.879865
yearbuilt                                  116              0.221201
numberofstories                          37880             72.233558
fireplaceflag                            52360             99.845541
structuretaxvaluedollarcnt                  84              0.160180
taxvaluedollarcnt                            1              0.001907
assessmentyear                               0              0.000000
landtaxvaluedollarcnt                        1              0.001907
taxamount                                    4              0.007628
taxdelinquencyflag                       50362             96.035545
taxdelinquencyyear                       50362             96.035545
censustractandblock                        123              0.234549
logerror                                     0              0.000000
transactiondate                              0              0.000000

In [31]:
null_col_df.loc['logerror']

num_rows_missing        0.0
percent_rows_missing    0.0
Name: logerror, dtype: float64

In [32]:
null_col_df.iloc[5]

num_rows_missing        0.0
percent_rows_missing    0.0
Name: bedroomcnt, dtype: float64

In [34]:
null_col_df.loc[['logerror']]

          num_rows_missing  percent_rows_missing
logerror                 0                   0.0

In [42]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    percent_missing = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': percent_missing})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [43]:
nulls_by_col(df)

                              num_rows_missing  percent_rows_missing
finishedsquarefeet15                     52441            100.000000
buildingclasstypeid                      52441            100.000000
finishedsquarefeet13                     52441            100.000000
storytypeid                              52394             99.910375
basementsqft                             52394             99.910375
yardbuildingsqft26                       52378             99.879865
architecturalstyletypeid                 52371             99.866517
typeconstructiontypeid                   52365             99.855075
fireplaceflag                            52360             99.845541
finishedsquarefeet6                      52276             99.685361
decktypeid                               52052             99.258214
pooltypeid10                             51997             99.153334
poolsizesum                              51574             98.346713
pooltypeid2                              51370             97.957705
hashottuborspa                           50926             97.111039
yardbuildingsqft17                       50504             96.306325
taxdelinquencyyear                       50362             96.035545
taxdelinquencyflag                       50362             96.035545
finishedfloor1squarefeet                 48060             91.645850
finishedsquarefeet50                     48060             91.645850
threequarterbathnbr                      45717             87.177971
fireplacecnt                             45198             86.188288
pooltypeid7                              42432             80.913789
poolcnt                                  41345             78.840983
airconditioningtypeid                    38803             73.993631
numberofstories                          37880             72.233558
garagecarcnt                             34426             65.647108
garagetotalsqft                          34426             65.647108
regionidneighborhood                     33408             63.705879
buildingqualitytypeid                    18701             35.661029
unitcnt                                  18594             35.456990
propertyzoningdesc                       18593             35.455083
heatingorsystemtypeid                    18506             35.289182
regionidcity                              1037              1.977460
lotsizesquarefeet                          369              0.703648
finishedsquarefeet12                       247              0.471006
fullbathcnt                                137              0.261246
calculatedbathnbr                          137              0.261246
censustractandblock                        123              0.234549
yearbuilt                                  116              0.221201
structuretaxvaluedollarcnt                  84              0.160180
calculatedfinishedsquarefeet                82              0.156366
regionidzip                                 26              0.049580
taxamount                                    4              0.007628
taxvaluedollarcnt                            1              0.001907
landtaxvaluedollarcnt                        1              0.001907
logerror                                     0              0.000000
assessmentyear                               0              0.000000
parcelid                                     0              0.000000
roomcnt                                      0              0.000000
regionidcounty                               0              0.000000
rawcensustractandblock                       0              0.000000
propertylandusetypeid                        0              0.000000
propertycountylandusecode                    0              0.000000
longitude                                    0              0.000000
latitude                                     0              0.000000
fips                                         0              0.000000
bedroomcnt                                   0              0.000000
bathroomcnt                                  0              0.000000
transactiondate                              0              0.000000

## Nulls by Row

In [35]:
df.isnull().sum(axis=1)

0        30
1        27
2        28
3        27
4        25
         ..
52436    29
52437    28
52438    26
52439    28
52440    29
Length: 52441, dtype: int64

In [38]:
df.isnull().sum(axis=1) / df.shape[1] * 100

0        50.000000
1        45.000000
2        46.666667
3        45.000000
4        41.666667
           ...
52436    48.333333
52437    46.666667
52438    43.333333
52439    46.666667
52440    48.333333
Length: 52441, dtype: float64

In [41]:
null_row_df = pd.DataFrame({'num_cols_missing': df.isnull().sum(axis=1),
             'percent_cols_missing': df.isnull().sum(axis=1)/df.shape[1]*100})
null_row_df

       num_cols_missing  percent_cols_missing
0                    30             50.000000
1                    27             45.000000
2                    28             46.666667
3                    27             45.000000
4                    25             41.666667
...                 ...                   ...
52436                29             48.333333
52437                28             46.666667
52438                26             43.333333
52439                28             46.666667
52440                29             48.333333

[52441 rows x 2 columns]

In [44]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    percent_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': percent_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

In [45]:
nulls_by_row(df)

        parcelid  num_cols_missing  percent_cols_missing
28116  167687839                42             70.000000
9001   167686999                42             70.000000
41468   17188862                41             68.333333
13429   14460039                40             66.666667
48597   14341510                39             65.000000
...          ...               ...                   ...
42219   17292665                20             33.333333
21757   17194590                20             33.333333
20841   17270021                20             33.333333
10432   17097816                19             31.666667
12733   17215105                19             31.666667

[52441 rows x 3 columns]

Let's combine out various techniques into a single funtion:

In [46]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [47]:
summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  14297519                    NaN                       NaN           NaN
1  17052889                    NaN                       NaN           NaN
2  14186244                    NaN                       NaN           NaN

   bathroomcnt  bedroomcnt buildingclasstypeid  buildingqualitytypeid  \
0          3.5         4.0                None                    NaN
1          1.0         2.0                None                    NaN
2          2.0         3.0                None                    NaN

   calculatedbathnbr  decktypeid  ...  structuretaxvaluedollarcnt  \
0                3.5         NaN  ...                    485713.0
1                1.0         NaN  ...                     88000.0
2                2.0         NaN  ...                     85289.0

   taxvaluedollarcnt  assessmentyear landtaxvaluedollarcnt taxamount  \
0          1023282.0          2016.0              537569.0  11013.72
1           464000.0          2016.0              376000.0   5672.48
2           564778.0          2016.0              479489.0   6488.30

   taxdelinquencyflag  taxdelinquencyyear  censustractandblock  logerror  \
0                None                 NaN         6.059063e+13  0.025595
1                None                 NaN         6.111001e+13  0.055619
2                None                 NaN         6.059022e+13  0.005383

   transactiondate
0       2017-01-01
1       2017-01-01
2       2017-01-01

[3 rows x 60 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   airconditioningtypeid         13638 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   52441 non-null  float64
 5   bedroomcnt                    52441 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         33740 non-null  float64
 8   calculatedbathnbr             52304 non-null  float64
 9   decktypeid                    389 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  52359 non-null  float64
 12  finishedsquarefeet12          52194 non-null  float64
 13  finishedsquarefeet13          0 non-null      object
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          52441 non-null  float64
 18  fireplacecnt                  7243 non-null   float64
 19  fullbathcnt                   52304 non-null  float64
 20  garagecarcnt                  18015 non-null  float64
 21  garagetotalsqft               18015 non-null  float64
 22  hashottuborspa                1515 non-null   float64
 23  heatingorsystemtypeid         33935 non-null  float64
 24  latitude                      52441 non-null  float64
 25  longitude                     52441 non-null  float64
 26  lotsizesquarefeet             52072 non-null  float64
 27  poolcnt                       11096 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  444 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10009 non-null  float64
 32  propertycountylandusecode     52441 non-null  object
 33  propertylandusetypeid         52441 non-null  float64
 34  propertyzoningdesc            33848 non-null  object
 35  rawcensustractandblock        52441 non-null  float64
 36  regionidcity                  51404 non-null  float64
 37  regionidcounty                52441 non-null  float64
 38  regionidneighborhood          19033 non-null  float64
 39  regionidzip                   52415 non-null  float64
 40  roomcnt                       52441 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6724 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33847 non-null  float64
 45  yardbuildingsqft17            1937 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52325 non-null  float64
 48  numberofstories               14561 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52357 non-null  float64
 51  taxvaluedollarcnt             52440 non-null  float64
 52  assessmentyear                52441 non-null  float64
 53  landtaxvaluedollarcnt         52440 non-null  float64
 54  taxamount                     52437 non-null  float64
 55  taxdelinquencyflag            2079 non-null   object
 56  taxdelinquencyyear            2079 non-null   float64
 57  censustractandblock           52318 non-null  float64
 58  logerror                      52441 non-null  float64
 59  transactiondate               52441 non-null  object
dtypes: float64(52), int64(1), object(7)
memory usage: 24.0+ MB
None
=====================================================


Dataframe Description:
           parcelid  airconditioningtypeid  architecturalstyletypeid  \
count  5.244100e+04           13638.000000                  70.00000
mean   1.299912e+07               2.438041                   7.10000
std    3.411444e+06               3.846176                   2.66567
min    1.071186e+07               1.000000                   2.00000
25%    1.151022e+07               1.000000                   7.00000
50%    1.257764e+07               1.000000                   7.00000
75%    1.412953e+07               1.000000                   7.00000
max    1.676878e+08              13.000000                  21.00000

       basementsqft   bathroomcnt    bedroomcnt  buildingqualitytypeid  \
count     47.000000  52441.000000  52441.000000           33740.000000
mean     678.978723      2.299403      3.300681               6.264167
std      711.825226      1.022772      0.949094               1.716162
min       38.000000      0.000000      0.000000               1.000000
25%      263.500000      2.000000      3.000000               5.000000
50%      512.000000      2.000000      3.000000               6.000000
75%      809.500000      3.000000      4.000000               8.000000
max     3560.000000     18.000000     14.000000              12.000000

       calculatedbathnbr  decktypeid  finishedfloor1squarefeet  ...  \
count       52304.000000       389.0               4381.000000  ...
mean            2.304738        66.0               1545.611048  ...
std             1.017966         0.0                674.865269  ...
min             1.000000        66.0                184.000000  ...
25%             2.000000        66.0               1151.000000  ...
50%             2.000000        66.0               1410.000000  ...
75%             3.000000        66.0               1759.000000  ...
max            18.000000        66.0               6912.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     14561.000000           81.0                5.235700e+04
mean          1.413914            1.0                1.965338e+05
std           0.540677            0.0                2.543401e+05
min           1.000000            1.0                1.290000e+02
25%           1.000000            1.0                7.707100e+04
50%           1.000000            1.0                1.318110e+05
75%           2.000000            1.0                2.263340e+05
max           6.000000            1.0                9.164901e+06

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       5.244000e+04         52441.0           5.244000e+04
mean        5.296882e+05          2016.0           3.334655e+05
std         7.518946e+05             0.0           5.705278e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         1.937475e+05          2016.0           7.602075e+04
50%         3.736120e+05          2016.0           2.180320e+05
75%         6.193012e+05          2016.0           4.086068e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   52437.000000         2079.000000         5.231800e+04  52441.000000
mean     6453.511209           14.102453         6.050240e+13      0.018298
std      8755.568452            2.394972         1.859036e+12      0.177501
min        49.180000            4.000000         6.037101e+13     -4.655420
25%      2656.220000           14.000000         6.037401e+13     -0.024639
50%      4647.740000           15.000000         6.037620e+13      0.007011
75%      7377.500000           15.000000         6.059042e+13      0.040692
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 53 columns]
=====================================================
DataFrame value counts:
(10554879.015, 26409453.4]    52421
(26409453.4, 42107051.8]          0
(42107051.8, 57804650.2]          0
(57804650.2, 73502248.6]          0
(73502248.6, 89199847.0]          1
(89199847.0, 104897445.4]         0
(104897445.4, 120595043.8]        0
(120595043.8, 136292642.2]        0
(136292642.2, 151990240.6]        0
(151990240.6, 167687839.0]       19
Name: parcelid, dtype: int64

(0.987, 2.2]    11895
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        159
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]          0
(9.4, 10.6]         0
(10.6, 11.8]       16
(11.8, 13.0]     1568
Name: airconditioningtypeid, dtype: int64

(1.9800000000000002, 3.9]     5
(3.9, 5.8]                    0
(5.8, 7.7]                   62
(7.7, 9.6]                    1
(9.6, 11.5]                   0
(11.5, 13.4]                  0
(13.4, 15.3]                  0
(15.3, 17.2]                  0
(17.2, 19.1]                  0
(19.1, 21.0]                  2
Name: architecturalstyletypeid, dtype: int64

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 13
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64

(-0.019, 1.8]    10530
(1.8, 3.6]       37418
(3.6, 5.4]        3717
(5.4, 7.2]         681
(7.2, 9.0]          85
(9.0, 10.8]          5
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64

(-0.015, 1.4]      749
(1.4, 2.8]        8340
(2.8, 4.2]       38599
(4.2, 5.6]        3973
(5.6, 7.0]         741
(7.0, 8.4]          24
(8.4, 9.8]           8
(9.8, 11.2]          3
(11.2, 12.6]         3
(12.6, 14.0]         1
Name: bedroomcnt, dtype: int64

Series([], Name: buildingclasstypeid, dtype: int64)

(0.988, 2.1]       13
(2.1, 3.2]        152
(3.2, 4.3]       8156
(4.3, 5.4]       1513
(5.4, 6.5]      10289
(6.5, 7.6]       3427
(7.6, 8.7]       8244
(8.7, 9.8]       1121
(9.8, 10.9]       230
(10.9, 12.0]      595
Name: buildingqualitytypeid, dtype: int64

(0.982, 2.7]    36221
(2.7, 4.4]      13818
(4.4, 6.1]       2035
(6.1, 7.8]        151
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64

(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 389
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64

(177.271, 856.8]     312
(856.8, 1529.6]     2316
(1529.6, 2202.4]    1266
(2202.4, 2875.2]     276
(2875.2, 3548.0]     123
(3548.0, 4220.8]      43
(4220.8, 4893.6]      24
(4893.6, 5566.4]      12
(5566.4, 6239.2]       5
(6239.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64

(106.198, 2308.1]     39298
(2308.1, 4488.2]      11836
(4488.2, 6668.3]       1004
(6668.3, 8848.4]        160
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64

(106.198, 2308.1]     39149
(2308.1, 4488.2]      11821
(4488.2, 6668.3]       1003
(6668.3, 8848.4]        160
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64

Series([], Name: finishedsquarefeet13, dtype: int64)

Series([], Name: finishedsquarefeet15, dtype: int64)

(171.716, 1412.3]     2185
(1412.3, 2640.6]      1905
(2640.6, 3868.9]       210
(3868.9, 5097.2]        57
(5097.2, 6325.5]        13
(6325.5, 7553.8]         7
(7553.8, 8782.1]         2
(8782.1, 10010.4]        1
(10010.4, 11238.7]       0
(11238.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64

(374.781, 901.8]    57
(901.8, 1423.6]     72
(1423.6, 1945.4]    16
(1945.4, 2467.2]     8
(2467.2, 2989.0]     4
(2989.0, 3510.8]     3
(3510.8, 4032.6]     2
(4032.6, 4554.4]     2
(4554.4, 5076.2]     0
(5076.2, 5598.0]     1
Name: finishedsquarefeet6, dtype: int64

(6036.925, 6044.4]    33910
(6044.4, 6051.8]          0
(6051.8, 6059.2]      14136
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       4395
Name: fips, dtype: int64

(0.995, 1.4]    6031
(1.4, 1.8]         0
(1.8, 2.2]       945
(2.2, 2.6]         0
(2.6, 3.0]       229
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64

(0.982, 2.7]    36233
(2.7, 4.4]      14515
(4.4, 6.1]       1381
(6.1, 7.8]         96
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64

(-0.015, 1.4]     2267
(1.4, 2.8]       14802
(2.8, 4.2]         875
(4.2, 5.6]          45
(5.6, 7.0]          16
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64

(-4.252000000000001, 425.1]     4457
(425.1, 850.2]                 13180
(850.2, 1275.3]                  324
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1515
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64

(0.976, 3.3]    20743
(3.3, 5.6]          0
(5.6, 7.9]      13082
(7.9, 10.2]         2
(10.2, 12.5]        0
(12.5, 14.8]       16
(14.8, 17.1]        0
(17.1, 19.4]        6
(19.4, 21.7]       85
(21.7, 24.0]        1
Name: heatingorsystemtypeid, dtype: int64

(33339141.852, 33488434.7]      761
(33488434.7, 33636249.4]       3224
(33636249.4, 33784064.1]       6087
(33784064.1, 33931878.8]      10955
(33931878.8, 34079693.5]       9065
(34079693.5, 34227508.2]      12470
(34227508.2, 34375322.9]       4619
(34375322.9, 34523137.6]       1823
(34523137.6, 34670952.3]       2187
(34670952.3, 34818767.0]       1250
Name: latitude, dtype: int64

(-119477336.781, -119283338.0]      161
(-119283338.0, -119091260.0]       1303
(-119091260.0, -118899182.0]       1066
(-118899182.0, -118707104.0]       1784
(-118707104.0, -118515026.0]       3849
(-118515026.0, -118322948.0]       9346
(-118322948.0, -118130870.0]      10050
(-118130870.0, -117938792.0]      11242
(-117938792.0, -117746714.0]       9163
(-117746714.0, -117554636.0]       4477
Name: longitude, dtype: int64

(-6734.775000000001, 697313.4]    52051
(697313.4, 1394390.8]                10
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       11096
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64

(22.523, 171.6]       7
(171.6, 319.2]       46
(319.2, 466.8]      322
(466.8, 614.4]      307
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64

(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       444
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1071
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: pooltypeid2, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       10009
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64

0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

(260.738, 260.791]        0
(260.791, 260.843]        0
(260.843, 260.896]        0
(260.896, 260.948]        0
(260.948, 261.0]      52441
(261.0, 261.052]          0
(261.052, 261.104]        0
(261.104, 261.157]        0
(261.157, 261.209]        0
(261.209, 261.261]        0
Name: propertylandusetypeid, dtype: int64

LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

(60370272.019999996, 60444919.091]    33910
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          14136
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.022]              0
(60962275.022, 61036183.012]              0
(61036183.012, 61110091.002]           4395
Name: rawcensustractandblock, dtype: int64

(3097.9339999999997, 42797.5]    39166
(42797.5, 82104.0]               10609
(82104.0, 121410.5]                828
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                17
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               784
Name: regionidcity, dtype: int64

(1284.184, 1467.5]    14136
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       4395
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      33910
Name: regionidcounty, dtype: int64

(6194.784, 82673.5]     7268
(82673.5, 158395.0]     3001
(158395.0, 234116.5]      33
(234116.5, 309838.0]    7154
(309838.0, 385559.5]       7
(385559.5, 461281.0]     925
(461281.0, 537002.5]       0
(537002.5, 612724.0]       0
(612724.0, 688445.5]      66
(688445.5, 764167.0]     579
Name: regionidneighborhood, dtype: int64

(95678.306, 126351.3]    52403
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64

(-0.016, 1.5]    37854
(1.5, 3.0]          91
(3.0, 4.5]         521
(4.5, 6.0]        5872
(6.0, 7.5]        3615
(7.5, 9.0]        3989
(9.0, 10.5]        339
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64

(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      47
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64

(0.993, 1.6]    6645
(1.6, 2.2]        70
(2.2, 2.8]         0
(2.8, 3.4]         8
(3.4, 4.0]         0
(4.0, 4.6]         0
(4.6, 5.2]         0
(5.2, 5.8]         0
(5.8, 6.4]         0
(6.4, 7.0]         1
Name: threequarterbathnbr, dtype: int64

(3.9970000000000003, 4.2]     1
(4.2, 4.4]                    0
(4.4, 4.6]                    0
(4.6, 4.8]                    0
(4.8, 5.0]                    0
(5.0, 5.2]                    0
(5.2, 5.4]                    0
(5.4, 5.6]                    0
(5.6, 5.8]                    0
(5.8, 6.0]                   75
Name: typeconstructiontypeid, dtype: int64

(0.997, 1.2]    33817
(1.2, 1.4]          0
(1.4, 1.6]          0
(1.6, 1.8]          0
(1.8, 2.0]         29
(2.0, 2.2]          0
(2.2, 2.4]          0
(2.4, 2.6]          0
(2.6, 2.8]          0
(2.8, 3.0]          1
Name: unitcnt, dtype: int64

(7.819, 329.0]      1219
(329.0, 647.0]       571
(647.0, 965.0]        95
(965.0, 1283.0]       35
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64

(11.143, 97.6]    19
(97.6, 183.2]     13
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     1
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64

(1877.861, 1891.8]       22
(1891.8, 1905.6]        169
(1905.6, 1919.4]       1034
(1919.4, 1933.2]       4095
(1933.2, 1947.0]       4905
(1947.0, 1960.8]      15935
(1960.8, 1974.6]      10229
(1974.6, 1988.4]       6949
(1988.4, 2002.2]       5925
(2002.2, 2016.0]       3062
Name: yearbuilt, dtype: int64

(0.994, 1.5]    8890
(1.5, 2.0]      5318
(2.0, 2.5]         0
(2.5, 3.0]       352
(3.0, 3.5]         0
(3.5, 4.0]         0
(4.0, 4.5]         0
(4.5, 5.0]         0
(5.0, 5.5]         0
(5.5, 6.0]         1
Name: numberofstories, dtype: int64

(0.9989, 0.9992]     0
(0.9992, 0.9994]     0
(0.9994, 0.9996]     0
(0.9996, 0.9998]     0
(0.9998, 1.0]       81
(1.0, 1.0002]        0
(1.0002, 1.0004]     0
(1.0004, 1.0006]     0
(1.0006, 1.0008]     0
(1.0008, 1.001]      0
Name: fireplaceflag, dtype: int64

(-9035.773000000001, 916606.2]    51421
(916606.2, 1833083.4]               770
(1833083.4, 2749560.6]              105
(2749560.6, 3666037.8]               38
(3666037.8, 4582515.0]                8
(4582515.0, 5498992.2]                7
(5498992.2, 6415469.4]                2
(6415469.4, 7331946.6]                1
(7331946.6, 8248423.8]                4
(8248423.8, 9164901.0]                1
Name: structuretaxvaluedollarcnt, dtype: int64

(-48060.236999999994, 4907023.6]    52230
(4907023.6, 9813047.2]                173
(9813047.2, 14719070.8]                23
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64

(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      52441
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64

(-48791.03799999999, 4895364.7]    52334
(4895364.7, 9790568.4]                86
(9790568.4, 14685772.1]               13
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64

(-537.411, 58708.192]       52238
(58708.192, 117367.204]       166
(117367.204, 176026.216]       19
(176026.216, 234685.228]        9
(234685.228, 293344.24]         4
(293344.24, 352003.252]         0
(352003.252, 410662.264]        0
(410662.264, 469321.276]        0
(469321.276, 527980.288]        0
(527980.288, 586639.3]          1
Name: taxamount, dtype: int64

Y    2079
Name: taxdelinquencyflag, dtype: int64

(3.904, 13.5]     387
(13.5, 23.0]     1691
(23.0, 32.5]        0
(32.5, 42.0]        0
(42.0, 51.5]        0
(51.5, 61.0]        0
(61.0, 70.5]        0
(70.5, 80.0]        0
(80.0, 89.5]        0
(89.5, 99.0]        1
Name: taxdelinquencyyear, dtype: int64

(59948352007016.984, 102636920499301.5]    52317
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64

(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       109
(-0.688, 0.304]     50948
(0.304, 1.296]       1221
(1.296, 2.287]         76
(2.287, 3.279]         57
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64

2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

=====================================================
nulls in dataframe by column:
                              num_rows_missing  percent_rows_missing
finishedsquarefeet15                     52441            100.000000
buildingclasstypeid                      52441            100.000000
finishedsquarefeet13                     52441            100.000000
storytypeid                              52394             99.910375
basementsqft                             52394             99.910375
yardbuildingsqft26                       52378             99.879865
architecturalstyletypeid                 52371             99.866517
typeconstructiontypeid                   52365             99.855075
fireplaceflag                            52360             99.845541
finishedsquarefeet6                      52276             99.685361
decktypeid                               52052             99.258214
pooltypeid10                             51997             99.153334
poolsizesum                              51574             98.346713
pooltypeid2                              51370             97.957705
hashottuborspa                           50926             97.111039
yardbuildingsqft17                       50504             96.306325
taxdelinquencyyear                       50362             96.035545
taxdelinquencyflag                       50362             96.035545
finishedfloor1squarefeet                 48060             91.645850
finishedsquarefeet50                     48060             91.645850
threequarterbathnbr                      45717             87.177971
fireplacecnt                             45198             86.188288
pooltypeid7                              42432             80.913789
poolcnt                                  41345             78.840983
airconditioningtypeid                    38803             73.993631
numberofstories                          37880             72.233558
garagecarcnt                             34426             65.647108
garagetotalsqft                          34426             65.647108
regionidneighborhood                     33408             63.705879
buildingqualitytypeid                    18701             35.661029
unitcnt                                  18594             35.456990
propertyzoningdesc                       18593             35.455083
heatingorsystemtypeid                    18506             35.289182
regionidcity                              1037              1.977460
lotsizesquarefeet                          369              0.703648
finishedsquarefeet12                       247              0.471006
fullbathcnt                                137              0.261246
calculatedbathnbr                          137              0.261246
censustractandblock                        123              0.234549
yearbuilt                                  116              0.221201
structuretaxvaluedollarcnt                  84              0.160180
calculatedfinishedsquarefeet                82              0.156366
regionidzip                                 26              0.049580
taxamount                                    4              0.007628
taxvaluedollarcnt                            1              0.001907
landtaxvaluedollarcnt                        1              0.001907
logerror                                     0              0.000000
assessmentyear                               0              0.000000
parcelid                                     0              0.000000
roomcnt                                      0              0.000000
regionidcounty                               0              0.000000
rawcensustractandblock                       0              0.000000
propertylandusetypeid                        0              0.000000
propertycountylandusecode                    0              0.000000
longitude                                    0              0.000000
latitude                                     0              0.000000
fips                                         0              0.000000
bedroomcnt                                   0              0.000000
bathroomcnt                                  0              0.000000
transactiondate                              0              0.000000
=====================================================
nulls in dataframe by row:

        parcelid  num_cols_missing  percent_cols_missing
28116  167687839                42             70.000000
9001   167686999                42             70.000000
41468   17188862                41             68.333333
13429   14460039                40             66.666667
48597   14341510                39             65.000000
...          ...               ...                   ...
42219   17292665                20             33.333333
21757   17194590                20             33.333333
20841   17270021                20             33.333333
10432   17097816                19             31.666667
12733   17215105                19             31.666667

[52441 rows x 3 columns]
=====================================================

## Summary complete, time to prep

In [48]:
def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df

In [50]:
def handle_missing_values(df, prop_required_columns=0.5, prop_required_rows=0.75):
    column_threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=column_threshold)
    row_threshold = int(round(prop_required_rows * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=row_threshold)
    return df

In [53]:
def data_prep(df, col_to_remove=[], prop_required_columns=0.5, prop_required_rows=0.75):
    df = remove_columns(df, col_to_remove)
    df = handle_missing_values(df, prop_required_columns, prop_required_rows)
    return df

In [54]:
data_prep(df)

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,heatingorsystemtypeid,...,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate
0,14297519,3.5,4.0,NaN,3.5,3100.0,3100.0,6059.0,3.0,NaN,...,NaN,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01
1,17052889,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,1.0,NaN,...,NaN,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01
2,14186244,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,2.0,NaN,...,NaN,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01
3,12177905,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,2.0,...,1.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01
4,12095076,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,2.0,...,1.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,12412492,2.0,4.0,6.0,2.0,1633.0,1633.0,6037.0,2.0,2.0,...,1.0,1962.0,125466.0,346534.0,2016.0,221068.0,4175.08,6.037555e+13,0.001082,2017-09-19
52437,11000655,2.0,2.0,6.0,2.0,1286.0,1286.0,6037.0,2.0,2.0,...,1.0,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20
52438,17239384,2.0,4.0,NaN,2.0,1612.0,1612.0,6111.0,2.0,NaN,...,NaN,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21
52439,12773139,1.0,3.0,4.0,1.0,1032.0,1032.0,6037.0,1.0,2.0,...,1.0,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21
52440,12826780,2.0,3.0,6.0,2.0,1762.0,1762.0,6037.0,2.0,2.0,...,1.0,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25

## Handling Outliers
* Note your use case
* z-score: appropriate for normal data (normally distributed)
* Tukey IQR method: not contingent on normality
### Tukey Interquartile Range (IQR) Method:
* Calculate IQR
    * Get Q3 and Q1
    * Get difference (q3-q1)
    * Establish "fences":
        * Standard inner fence: k = 1.5
        * Standard outer fence: k = 3.0
        * Upper bound: q3 + k * IQR
        * Lower bound: q1 - k * IQR

In [55]:
def get_upper_outliers(s, k=1.5):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, 0.75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [56]:
def add_upper_outlier_columns(df, k=1.5):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    for col in df.select_dtypes('number'):
        df[col + '_outliers_upper'] = get_upper_outliers(df[col], k)
    return df

In [57]:
df = add_upper_outlier_columns(df)

In [58]:
df

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories_outliers_upper,fireplaceflag_outliers_upper,structuretaxvaluedollarcnt_outliers_upper,taxvaluedollarcnt_outliers_upper,assessmentyear_outliers_upper,landtaxvaluedollarcnt_outliers_upper,taxamount_outliers_upper,taxdelinquencyyear_outliers_upper,censustractandblock_outliers_upper,logerror_outliers_upper
0,14297519,NaN,NaN,NaN,3.5,4.0,None,NaN,3.5,NaN,...,NaN,NaN,35484.5,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
1,17052889,NaN,NaN,NaN,1.0,2.0,None,NaN,1.0,NaN,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,1.949699e+11,0.0
2,14186244,NaN,NaN,NaN,2.0,3.0,None,NaN,2.0,NaN,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
3,12177905,NaN,NaN,NaN,3.0,4.0,None,8.0,3.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
4,12095076,1.0,NaN,NaN,3.0,4.0,None,9.0,3.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,12412492,NaN,NaN,NaN,2.0,4.0,None,6.0,2.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
52437,11000655,NaN,NaN,NaN,2.0,2.0,None,6.0,2.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
52438,17239384,NaN,NaN,NaN,2.0,4.0,None,NaN,2.0,NaN,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,1.950439e+11,0.0
52439,12773139,1.0,NaN,NaN,1.0,3.0,None,4.0,1.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0
52440,12826780,NaN,NaN,NaN,2.0,3.0,None,6.0,2.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.000000e+00,0.0

In [60]:
outlier_cols = [col for col in df.columns if col.endswith('_outliers_upper')]
for col in outlier_cols:
    print(col, ': ')
    subset = df[col][df[col] > 0]
    print(f'Number of Observations Above Upper Bound: {subset.count()}', '\n')
    print(subset.describe())
    print('------', '\n')

parcelid_outliers_upper :
Number of Observations Above Upper Bound: 20

count    2.000000e+01
mean     1.440146e+08
std      1.951192e+07
min      6.158199e+07
25%      1.449023e+08
50%      1.495780e+08
75%      1.495786e+08
max      1.496293e+08
Name: parcelid_outliers_upper, dtype: float64
------

airconditioningtypeid_outliers_upper :
Number of Observations Above Upper Bound: 1743

count    1743.000000
mean       11.251865
std         2.306138
min         4.000000
25%        12.000000
50%        12.000000
75%        12.000000
max        12.000000
Name: airconditioningtypeid_outliers_upper, dtype: float64
------

architecturalstyletypeid_outliers_upper :
Number of Observations Above Upper Bound: 3

count     3.000000
mean      9.666667
std       7.505553
min       1.000000
25%       7.500000
50%      14.000000
75%      14.000000
max      14.000000
Name: architecturalstyletypeid_outliers_upper, dtype: float64
------

basementsqft_outliers_upper :
Number of Observations Above Upper Bound: 4

count       4.000000
mean      984.000000
std       857.702551
min       180.500000
25%       300.500000
50%       912.000000
75%      1595.500000
max      1931.500000
Name: basementsqft_outliers_upper, dtype: float64
------

bathroomcnt_outliers_upper :
Number of Observations Above Upper Bound: 1579

count    1579.000000
mean        1.137112
std         0.969289
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: bathroomcnt_outliers_upper, dtype: float64
------

bedroomcnt_outliers_upper :
Number of Observations Above Upper Bound: 780

count    780.000000
mean       0.778205
std        0.753792
min        0.500000
25%        0.500000
50%        0.500000
75%        0.500000
max        8.500000
Name: bedroomcnt_outliers_upper, dtype: float64
------

buildingqualitytypeid_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: buildingqualitytypeid_outliers_upper, dtype: float64
------

calculatedbathnbr_outliers_upper :
Number of Observations Above Upper Bound: 1578

count    1578.000000
mean        1.137199
std         0.969590
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: calculatedbathnbr_outliers_upper, dtype: float64
------

decktypeid_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: decktypeid_outliers_upper, dtype: float64
------

finishedfloor1squarefeet_outliers_upper :
Number of Observations Above Upper Bound: 257

count     257.000000
mean      856.011673
std       841.864029
min         1.000000
25%       285.000000
50%       573.000000
75%      1244.000000
max      4241.000000
Name: finishedfloor1squarefeet_outliers_upper, dtype: float64
------

calculatedfinishedsquarefeet_outliers_upper :
Number of Observations Above Upper Bound: 2276

count     2276.000000
mean      1184.615554
std       1488.433251
min          1.000000
25%        262.750000
50%        695.000000
75%       1532.250000
max      18066.000000
Name: calculatedfinishedsquarefeet_outliers_upper, dtype: float64
------

finishedsquarefeet12_outliers_upper :
Number of Observations Above Upper Bound: 2265

count     2265.000000
mean      1187.357174
std       1490.086324
min          1.000000
25%        265.000000
50%        697.000000
75%       1535.000000
max      18064.000000
Name: finishedsquarefeet12_outliers_upper, dtype: float64
------

finishedsquarefeet50_outliers_upper :
Number of Observations Above Upper Bound: 269

count     269.000000
mean     1011.289963
std      1155.541443
min         3.000000
25%       269.000000
50%       630.000000
75%      1338.000000
max      9770.000000
Name: finishedsquarefeet50_outliers_upper, dtype: float64
------

finishedsquarefeet6_outliers_upper :
Number of Observations Above Upper Bound: 18

count      18.000000
mean      933.888889
std       887.574149
min        41.000000
25%       308.000000
50%       670.000000
75%      1353.250000
max      3474.000000
Name: finishedsquarefeet6_outliers_upper, dtype: float64
------

fips_outliers_upper :
Number of Observations Above Upper Bound: 4395

count    4395.0
mean       19.0
std         0.0
min        19.0
25%        19.0
50%        19.0
75%        19.0
max        19.0
Name: fips_outliers_upper, dtype: float64
------

fireplacecnt_outliers_upper :
Number of Observations Above Upper Bound: 1212

count    1212.000000
mean        1.254125
std         0.512220
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: fireplacecnt_outliers_upper, dtype: float64
------

fullbathcnt_outliers_upper :
Number of Observations Above Upper Bound: 1556

count    1556.000000
mean        1.036632
std         0.973247
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: fullbathcnt_outliers_upper, dtype: float64
------

garagecarcnt_outliers_upper :
Number of Observations Above Upper Bound: 946

count    946.000000
mean       1.493658
std        0.988003
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       12.000000
Name: garagecarcnt_outliers_upper, dtype: float64
------

garagetotalsqft_outliers_upper :
Number of Observations Above Upper Bound: 571

count     571.000000
mean      221.260070
std       341.426667
min         0.500000
25%        55.000000
50%       121.500000
75%       258.000000
max      3472.500000
Name: garagetotalsqft_outliers_upper, dtype: float64
------

hashottuborspa_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: hashottuborspa_outliers_upper, dtype: float64
------

heatingorsystemtypeid_outliers_upper :
Number of Observations Above Upper Bound: 92

count    92.000000
mean      5.413043
std       0.657203
min       3.500000
25%       5.500000
50%       5.500000
75%       5.500000
max       9.500000
Name: heatingorsystemtypeid_outliers_upper, dtype: float64
------

latitude_outliers_upper :
Number of Observations Above Upper Bound: 35

count       35.000000
mean     35921.857143
std      24153.029889
min       1725.000000
25%      20636.000000
50%      28799.000000
75%      50607.000000
max      91251.000000
Name: latitude_outliers_upper, dtype: float64
------

longitude_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers_upper, dtype: float64
------

lotsizesquarefeet_outliers_upper :
Number of Observations Above Upper Bound: 5553

count    5.553000e+03
mean     3.618086e+04
std      2.624441e+05
min      8.750000e-01
25%      3.242875e+03
50%      7.444875e+03
75%      2.269088e+04
max      6.957389e+06
Name: lotsizesquarefeet_outliers_upper, dtype: float64
------

poolcnt_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: poolcnt_outliers_upper, dtype: float64
------

poolsizesum_outliers_upper :
Number of Observations Above Upper Bound: 17

count     17.000000
mean     193.691176
std      168.096502
min       21.750000
25%       67.750000
50%      136.750000
75%      245.750000
max      636.750000
Name: poolsizesum_outliers_upper, dtype: float64
------

pooltypeid10_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: pooltypeid10_outliers_upper, dtype: float64
------

pooltypeid2_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: pooltypeid2_outliers_upper, dtype: float64
------

pooltypeid7_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: pooltypeid7_outliers_upper, dtype: float64
------

propertylandusetypeid_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: propertylandusetypeid_outliers_upper, dtype: float64
------

rawcensustractandblock_outliers_upper :
Number of Observations Above Upper Bound: 4395

count      4395.000000
mean     195012.548232
std          25.199611
min      194961.877569
25%      194990.878535
50%      195017.898536
75%      195034.977546
max      195050.878550
Name: rawcensustractandblock_outliers_upper, dtype: float64
------

regionidcity_outliers_upper :
Number of Observations Above Upper Bound: 1629

count      1629.000000
mean     171423.367096
std      138591.844885
min       31515.000000
25%       36328.000000
50%       37097.000000
75%      314157.000000
max      314659.000000
Name: regionidcity_outliers_upper, dtype: float64
------

regionidcounty_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: regionidcounty_outliers_upper, dtype: float64
------

regionidneighborhood_outliers_upper :
Number of Observations Above Upper Bound: 579

count       579.000000
mean     138082.018135
std        1285.437652
min      132763.500000
25%      136958.500000
50%      138362.500000
75%      139200.500000
max      139578.500000
Name: regionidneighborhood_outliers_upper, dtype: float64
------

regionidzip_outliers_upper :
Number of Observations Above Upper Bound: 12

count        12.0
mean     301496.5
std           0.0
min      301496.5
25%      301496.5
50%      301496.5
75%      301496.5
max      301496.5
Name: regionidzip_outliers_upper, dtype: float64
------

roomcnt_outliers_upper :
Number of Observations Above Upper Bound: 17

count    17.000000
mean      0.970588
std       0.624264
min       0.500000
25%       0.500000
50%       0.500000
75%       1.500000
max       2.500000
Name: roomcnt_outliers_upper, dtype: float64
------

storytypeid_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: storytypeid_outliers_upper, dtype: float64
------

threequarterbathnbr_outliers_upper :
Number of Observations Above Upper Bound: 79

count    79.000000
mean      1.164557
std       0.629008
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       6.000000
Name: threequarterbathnbr_outliers_upper, dtype: float64
------

typeconstructiontypeid_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: typeconstructiontypeid_outliers_upper, dtype: float64
------

unitcnt_outliers_upper :
Number of Observations Above Upper Bound: 30

count    30.000000
mean      1.033333
std       0.182574
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       2.000000
Name: unitcnt_outliers_upper, dtype: float64
------

yardbuildingsqft17_outliers_upper :
Number of Observations Above Upper Bound: 120

count     120.000000
mean      346.375000
std       446.165588
min         6.000000
25%        97.500000
50%       206.500000
75%       392.250000
max      2491.000000
Name: yardbuildingsqft17_outliers_upper, dtype: float64
------

yardbuildingsqft26_outliers_upper :
Number of Observations Above Upper Bound: 2

count      2.000000
mean     124.750000
std       82.024387
min       66.750000
25%       95.750000
50%      124.750000
75%      153.750000
max      182.750000
Name: yardbuildingsqft26_outliers_upper, dtype: float64
------

yearbuilt_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: yearbuilt_outliers_upper, dtype: float64
------

numberofstories_outliers_upper :
Number of Observations Above Upper Bound: 1

count    1.0
mean     2.5
std      NaN
min      2.5
25%      2.5
50%      2.5
75%      2.5
max      2.5
Name: numberofstories_outliers_upper, dtype: float64
------

fireplaceflag_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: fireplaceflag_outliers_upper, dtype: float64
------

structuretaxvaluedollarcnt_outliers_upper :
Number of Observations Above Upper Bound: 3898

count    3.898000e+03
mean     3.692423e+05
std      5.775803e+05
min      6.750000e+01
25%      7.235300e+04
50%      1.861335e+05
75%      4.436125e+05
max      8.714672e+06
Name: structuretaxvaluedollarcnt_outliers_upper, dtype: float64
------

taxvaluedollarcnt_outliers_upper :
Number of Observations Above Upper Bound: 3541

count    3.541000e+03
mean     1.102673e+06
std      1.938024e+06
min      6.312500e+01
25%      2.127131e+05
50%      5.403101e+05
75%      1.252368e+06
max      4.780360e+07
Name: taxvaluedollarcnt_outliers_upper, dtype: float64
------

assessmentyear_outliers_upper :
Number of Observations Above Upper Bound: 0

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: assessmentyear_outliers_upper, dtype: float64
------

landtaxvaluedollarcnt_outliers_upper :
Number of Observations Above Upper Bound: 3021

count    3.021000e+03
mean     8.610994e+05
std      1.669780e+06
min      1.142500e+02
25%      1.547422e+05
50%      4.188142e+05
75%      9.462112e+05
max      4.804471e+07
Name: landtaxvaluedollarcnt_outliers_upper, dtype: float64
------

taxamount_outliers_upper :
Number of Observations Above Upper Bound: 3820

count      3820.000000
mean      12257.084162
std       22146.091486
min           0.060000
25%        2291.452500
50%        5901.380000
75%       13749.600000
max      572179.880000
Name: taxamount_outliers_upper, dtype: float64
------

taxdelinquencyyear_outliers_upper :
Number of Observations Above Upper Bound: 1

count     1.0
mean     82.5
std       NaN
min      82.5
25%      82.5
50%      82.5
75%      82.5
max      82.5
Name: taxdelinquencyyear_outliers_upper, dtype: float64
------

censustractandblock_outliers_upper :
Number of Observations Above Upper Bound: 4377

count    4.377000e+03
mean     2.914074e+11
std      6.377374e+12
min      1.949609e+11
25%      1.949909e+11
50%      1.950179e+11
75%      1.950350e+11
max      4.221151e+14
Name: censustractandblock_outliers_upper, dtype: float64
------

logerror_outliers_upper :
Number of Observations Above Upper Bound: 3796

count    3796.000000
mean        0.231997
std         0.402541
min         0.000021
25%         0.038264
50%         0.098131
75%         0.240629
max         5.124310
Name: logerror_outliers_upper, dtype: float64
------